<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

<nav id="menu">
    <label for="tm" id="toggle-menu">Navigation <span class="drop-icon">▾</span></label>
    <input type="checkbox" id="tm">
    <ul class="main-menu clearfix">
        <li><a style="font-weight:700;" asp-area="" asp-controller="Home" asp-action="Index" asp-route-category="LOL">My Shop</a></li>

        @{
            int b = 0;
            foreach (var type in Model.Types)
            {
                <li>
                    <a asp-controller="@type.Name" asp-action="Catalog">
                        @type.Name
                        <span class="drop-icon">▾</span>
                        <label title="Toggle Drop-down" class="drop-icon" for="sm+@b">▾</label>
                    </a>
                    <input type="checkbox" id="sm+@b">
                    <ul class="sub-menu">
                        @{
                            List<Category> list = new List<Category>();
                            List<string> subCategoryList = new List<string>();

                            for (int i = 0; i < Model.AllCategories.Count; i++)
                            {
                                if (Model.AllCategories[i].TypeId == type.Id && Model.AllCategories[i].ParentId == 0)
                                {
                                    list.Add(Model.AllCategories[i]);
                                }
                            }




                            int count = list.Count;
                            if (count > 5)
                            {
                                count = 5;
                            }

                            for (int i = 0; i < count; i++)
                            {
                                for (int k = 0; k < Model.AllCategories.Count; k++)
                                {
                                    if (Model.AllCategories[k].ParentId == list[i].Id && Model.AllCategories[k].TypeId == list[i].TypeId)
                                    {
                                        subCategoryList.Add(Model.AllCategories[k].Name);
                                    }
                                }


                                if (subCategoryList.Count <= 0)
                                {
                                    <li><a href="#">@list[i].Name</a></li>
                                }
                                else
                                {
                                    <li>
                                        <a href="#">
                                            @list[i].Name
                                            <span class="drop-icon">▾</span>
                                            <label title="Toggle Drop-down" class="drop-icon" for="sm+@b*@b*@b">▾</label>
                                        </a>
                                        <input type="checkbox" id="sm+@b*@b*@b">
                                        <ul class="sub-menu">
                                            @{
                                                int a = 0;
                                                foreach (var subCate in subCategoryList)
                                                {
                                                    if (a > 5)
                                                    {
                                                        break;
                                                    }

                                                    <li><a href="#">@subCate</a></li>
                                                    a++;
                                                }
                                            }
                                            <li><a href="#" style="background-color:#535c68;font-size:13.5px;font-weight:600;text-align:center;">All @type.Name @list[i].Name.ToLower()</a></li>
                                        </ul>
                                    </li>
                                }

                                subCategoryList.Clear();
                            }
                        }
                        <li><a asp-area="" asp-controller="Category" asp-action="Index" style="background-color:#535c68;font-weight:600;text-align:center;">All categories</a></li>
                    </ul>
                </li>
                b++;

            }
            <li>
                <a href="#">
                    Producers
                    <span class="drop-icon">▾</span>
                    <label title="Toggle Drop-down" class="drop-icon" for="sm+@b">▾</label>
                </a>
                <input type="checkbox" id="sm+@b">
                <ul class="sub-menu">
                    @{
                        foreach (var producer in Model.Producers)
                        {
                            <li><a href="#">@producer.Name</a></li>
                        }
                    }
                    <li><a href="#" style="font-weight:600;text-align:center;">All producers</a></li>
                </ul>
            </li>
        }


        <li><a href="#">Sales</a></li>
        <li><a href="#">Newest</a></li>
        <li><a asp-area="" asp-controller="Information" asp-action="Contacts">Contacts</a></li>
        <li><a href="#">About Us</a></li>
        @{
            if (Model.IsUserLogin)
            {
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="btn btn-danger">Log Out</button>
                </form>
            }
            else
            {
                <form asp-controller="Account" asp-action="Login" method="get">
                    <button type="submit" class="btn btn-warning">Log In</button>
                </form>

            }
        }

        <button type="button" class="btn btn-light">
            <i class="fas fa-shopping-basket"></i>
            @{
                if (@Model.ShopCartCount > 0)
                {
                    <span class="shopingCount">Model.ShopCartCount</span>
                }
            }



        </button>
    </ul>
</nav>